h2.correct {
  color: green;
}

h2.wrong {
  color: red;
}

.DisplayScore {
  display: flex;
  height: fit-content;
}

.DisplayScore h2 {
  margin-top: 5vw;
}

.DisplayScore span:not(label span) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  width: 100%;
  height: 15vw;
  min-height: 75px;
  max-height: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

.DisplayScore label {
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-size: 4vmin;
}

.DisplayFeedback {
  display: flex;
  justify-content: center;
}

.DisplayFeedback p {
  margin: 0;
  text-align: center;
}

.DisplayScore p {
  margin: 35px 0;
  font-weight: bolder;
}

section span.correct {
  color: green;
  font-size: 20px;
  margin-left: 4px;
}

section span.incorrect {
  color: rgb(255, 38, 0);
  font-size: 20px;
  font-weight: bolder;
  margin-left: 4px;
}

.translation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translation label {
  font-weight: bold;
}

.translation input {
  width: 50%;
  max-width: 400px;
  align-self: center;
  margin-top: 15px;
  line-height: 2em;
}

.translation button {
  width: 100%;
  width: 200px;
  height: 50px;
}

.translation button {
  text-decoration: none;
  border: solid 1px black;
  font-weight: bolder;
  padding: 15px 35px;
  border-radius: 5px;
  margin: 5vw 0 125px 0;
  background-color: rgb(3, 248, 3);
}

.DisplayFeedback span {
  display: inline-block;
  padding: 0 5px;
  font-weight: bold;
}


@media only screen and (min-width: 350px) {
  .DisplayScore label {
    font-size: 1.7vh;
  }
}


@media all and (min-width: 700px) {
  .DisplayScore span {
    margin: 100px 0;
  }
}


@media only screen and (min-width: 800px) {
  .DisplayScore label {
    font-size: 2vh;
  }
}