form.LoginForm {
  padding: 0;
  width: 100%;
  margin-bottom: 100px;
}

div[role=alert], div[role=alert] p {
  margin: 0;
  color: rgb(223, 2, 2);
}

img {
  margin-top: 7%;
}

.login button {
  margin-bottom: 0;
  margin-top: 10px;
}

@media only screen and (min-width: 600px) {
  img {
    margin-top: 75px;
  }
}