label.dashboard {
  font-size: 25px;
  font-weight: bolder;
  margin: 15px;
}

.dashboard h2 {
  font-size: 20px;
}

.dashboard h3 {
  font-size: 18px;
  text-align: center;
}

.dashboard h4 {
  margin: 15px;
}

.dashboard ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin-bottom: 30px;
}

.dashboard li {
  border: solid 1px rgb(36, 0, 77);
  border: solid 1px rgba(2, 87, 185, 0.445);
  background-color: rgba(0, 47, 255, 0.103);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 500px;
  padding: 10px;
}

.practice-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label.correct {
  display: inline-block;
  padding-bottom: 15px;
  font-size: 20px;
}

label.score {
  font-size: 18px;
  margin-top: 105px;
  font-weight: bold;
}

.dashboard a {
  text-decoration: none;
  border: solid 1px black;
  font-weight: bolder;
  padding: 15px 35px;
  border-radius: 5px;
  margin: 25px 0;
  background-color: rgba(0, 128, 0, 0.603);
  margin-bottom: 150px;
}